<div ng-controller="bankAccountCtrl" ng-init="bankAccount()">
    <div class="container">
        <div ng-show="showRegisterForm">
            <div class="board">

                <!-- Circular Tab Area -->
                <div class="board-inner" id="status-buttons">
                    <ul class="nav nav-tabs" id="myTab">
                        <div class="liner"></div>

                        <!-- circular user icon -->
                        <li ng-class="{'active': selectedMenu === 'PERSONAL'}">
                            <a   title="personal">
                        <span class="round-tabs one">
                            <i class="fa fa-user fa-lg"></i>
                        </span>
                            </a>
                        </li>

                        <!-- circular tasks icon -->
                        <li ng-class="{'active': selectedMenu === 'EMPLOYEE'}">
                            <a  title="emplyoer">
                        <span class="round-tabs two">
                            <i class="fa fa-id-badge fa-lg"></i>
                            <!--<i class="glyphicon glyphicon-tasks"></i>-->
                        </span>
                            </a>
                        </li>

                        <!-- circular home icon -->
                        <li ng-class="{'active': selectedMenu === 'ACCOUNT'}">
                            <a  title="account">
                        <span class="round-tabs three">
                            <i class="fa fa-info-circle fa-lg"></i>
                        </span>
                            </a>
                        </li>

                        <!-- circular ok icon -->
                        <li ng-class="{'active': selectedMenu === 'DOCUMENT'}">
                            <a  title="document">
                        <span class="round-tabs four">
                            <i class="fa fa-file-text fa-lg"></i>
                        </span>
                            </a>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- End Circular Tab Area -->

                <!-- Content Area -->
                <div class="tab-content">
                    <!-- Nested view  -->

                    <div class="col-sm-12">
                        <div class="text-center mt-20">
                            <p class="application-num"> Your application number is: <b>{{applicationNumber}}</b> </p>
                        </div>

                    </div>


                    <!-- Personal Info start-->

                    <div ng-show="selectedMenu === 'PERSONAL'">

                        <form name="personalData" >
                            <div class="tab-pane fade in active">
                                <h4 class="head text-center"> Personal Information </h4>
                                <br/>
                                <div class='row'>
                                    <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>

                                        <div class="col-sm-12">
                                            <div class="col-sm-6">
                                                <div class="form-group frm-cont">

                                                    <select class="form-control m-b" name="title" ng-model="personal.title" required>
                                                        <option disabled selected value>Title</option>
                                                        <option>Mr</option>
                                                        <option>Miss</option>
                                                        <option>Mrs</option>
                                                    </select>
                                                    <span class="required-field animated fadeInDown" ng-show="personalData.title.$error.required && personalData.title.$touched">Title is required.</span>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 ">
                                                <div class="form-group frm-cont">

                                                    <input class="form-control input-md"  name="firstname" type="text" placeholder="First Name" ng-model="personal.firstname" required>
                                                    <span class="required-field animated fadeInDown" ng-show="personalData.firstname.$error.required && personalData.firstname.$touched">Firstname is required.</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="col-sm-6">
                                                <div class="form-group frm-cont">

                                                    <input class="form-control input-md"  name="middlename" type="text" placeholder="middle name" ng-model="personal.middlename" required>

                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group frm-cont">

                                                    <input class="form-control input-md"  name="lastname" type="text" placeholder="Last Name" ng-model="personal.lastname" required>
                                                    <span class="required-field animated fadeInDown" ng-show="personalData.lastname.$error.required && personalData.lastname.$touched">Lastname is required.</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="col-sm-6">
                                                <div class="form-group frm-cont">
                                                    <input name="phoneNumber"
                                                           class="form-control ng-isolate-scope ng-dirty ng-touched ng-valid-parse ng-not-empty ng-invalid ng-invalid-phone-number"
                                                           type="tel" ng-model="personal.homephone" intl-tel-input=""
                                                           intl-tel-input-controller="phoneNumberCtrl" autocomplete="off" placeholder="Home Number" >



                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group frm-cont">
                                                    <input name="mobile"
                                                           class="form-control ng-isolate-scope ng-dirty ng-touched ng-valid-parse ng-not-empty ng-invalid ng-invalid-phone-number"
                                                           type="tel" ng-model="personal.mobile" intl-tel-input=""
                                                           intl-tel-input-controller="phoneNumberCtrl" autocomplete="off" placeholder="Mobile Number" required>

                                                    <span class="help-block required-field animated fadeInDown" ng-show="personalData.mobile.$error.phoneNumber">
                                                    Mobile number is not valid
                                                    </span>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="col-sm-6">
                                                <div class="form-group frm-cont">
                                                    <input class="form-control input-md"  name="email" type="email"
                                                           ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/"
                                                           placeholder="Email" ng-model="personal.email" required>
                                                    <span class="required-field animated fadeInDown" ng-show="personalData.email.$error.required && personalData.email.$touched">Email is required</span>
                                                    <span class="required-field animated fadeInDown" ng-show="personalData.email.$error.email && personalData.email.$touched">Email is not valid</span>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group frm-cont">
                                                    <input class="form-control input-md" name="address" type="text" placeholder="mailling address" ng-model="personal.address" required>
                                                    <span class="required-field animated fadeInDown" ng-show="personalData.address.$error.required && personalData.address.$touched">Mailing Address is required</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="col-sm-6">
                                                <div class="form-group frm-cont">
                                                    <input class="form-control input-md" name="securitynum"
                                                           type="number" placeholder="Socila Security Number" ng-model="personal.securitynum" required>
                                                    <span class="required-field animated fadeInDown" ng-show="personalData.securitynum.$error.required && personalData.securitynum.$touched">Social security is requires</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <a ng-click="backToHome()" class="btn btn-success btn-outline-rounded btn-info"> Home
                                        <span style="margin-left:10px;" class="fa fa-home fa-lg"></span>
                                    </a>

                                    <button ng-click="selectMenu('EMPLOYEE'); savePersonal()" type="button"
                                            ng-disabled="personalData.title.$invalid || personalData.firstname.$invalid || personalData.lastname.$invalid ||
                                           personalData.mobile.$invalid || personalData.phoneNumber.$invalid || personalData.email.$invalid ||
                                           personalData.address.$invalid || personalData.securitynum.$invalid"
                                            class="btn btn-success btn-outline-rounded btn-info"> Next
                                        <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
                                </div>
                            </div>
                        </form>

                    </div>

                    <!-- Employee Info Start -->
                    <div ng-show="selectedMenu === 'EMPLOYEE'">
                        <form name="employeData">
                            <div class="tab-pane fade in active">
                                <h4 class="head text-center">Employment Information</h4>
                                <br/>
                                <div class='row'>
                                    <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <div class="form-group frm-cont">
                                                        <input class="form-control input-md" name="employername" type="text" placeholder="Employer Name" ng-model="employement.empName" required>
                                                        <span class="required-field animated fadeInDown" ng-show="employeData.employername.$error.required && employeData.employername.$touched">Employee name is required</span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group frm-cont">
                                                        <input class="form-control input-md" name="employeraddress" type="text" placeholder="Employe Address" ng-model="employement.empAddress" required>
                                                        <span class="required-field animated fadeInDown" ng-show="employeData.employeraddress.$error.required && employeData.employeraddress.$touched">Employer address is required</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <div class="form-group frm-cont">
                                                        <input name="empMobile"
                                                               class="form-control ng-isolate-scope ng-dirty ng-touched ng-valid-parse ng-not-empty ng-invalid ng-invalid-phone-number"
                                                               type="tel" ng-model="employement.empMobile" intl-tel-input=""
                                                               intl-tel-input-controller="phoneNumberCtrl" autocomplete="off" placeholder="Mobile Number" required>

                                                    <span class="help-block required-field animated fadeInDown" ng-show="employeData.empMobile.$error.phoneNumber">
                                                    Mobile number is not valid
                                                    </span>
                                                    </div>

                                                </div>
                                                <div class="col-sm-6">
                                                        <div class="form-group frm-cont">
                                                            <input class="form-control input-md"  name="jobposition" type="text" placeholder="Job Position" ng-model="employement.empJob" required>
                                                            <span class="required-field animated fadeInDown" ng-show="employeData.jobposition.$error.required && employeData.jobposition.$touched">Job position is required</span>
                                                        </div>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group frm-cont text-center">
                                            <a ng-click="selectMenu('PERSONAL')" class="btn btn-success btn-outline-rounded btn-info"> Back <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-left"></span></a>
                                            <button ng-click="selectMenu('ACCOUNT'); saveEmployer()" type="button"
                                                    ng-disabled="employeData.employername.$invalid || employeData.employeraddress.$invalid || employeData.jobposition.$invalid ||
                                           employeData.empMobile.$invalid "
                                                    class="btn btn-success btn-outline-rounded btn-info"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>

                    <!-- Account Info Start -->
                    <div ng-show="selectedMenu === 'ACCOUNT'">
                        <form name="accountInfo">
                            <div class="tab-pane fade in active">
                                <h4 class="head text-center">Account Information</h4>
                                <br/>
                                <div class='row'>
                                    <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
                                        <div class="col-sm-12">
                                            <div class="col-sm-6">
                                                <div class="form-group frm-cont">
                                                    <select class="form-control m-b" name="accounttype" ng-model="accountInfo.accountType" required>
                                                        <option disabled selected value>Account Type</option>
                                                        <option>Savings</option>
                                                        <option>Deposit</option>
                                                    </select>
                                                    <span class="required-field animated fadeInDown" ng-show="accountInfo.accounttype.$error.required && accountInfo.accounttype.$touched">Account type is required</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group frm-cont">

                                                    <input class="form-control input-md" name="purposeaccount" type="text" placeholder="Purpose of bank account" ng-model="accountInfo.purpose" required>
                                                    <span class="required-field animated fadeInDown" ng-show="accountInfo.purposeaccount.$error.required && accountInfo.purposeaccount.$touched">Purpose is required</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="col-sm-6">
                                                <div class="form-group frm-cont">

                                                    <input class="form-control input-md" name="moneyfrom" type="text"
                                                           placeholder="Where will the money come from"
                                                           ng-model="accountInfo.moneyCome" required>
                                                    <span class="required-field animated fadeInDown" ng-show="accountInfo.moneyfrom.$error.required && accountInfo.moneyfrom.$touched">This field required</span>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group frm-cont">
                                                    <select class="form-control m-b" name="hearabout" ng-model="accountInfo.hearAbout" required>
                                                        <option disabled selected value>How did you hear from</option>
                                                        <option>Through Google</option>
                                                        <option>Through Facebook</option>
                                                        <option>Friend Suggestion</option>
                                                        <option>Family member working here</option>
                                                    </select>
                                                    <span class="required-field animated fadeInDown" ng-show="accountInfo.hearabout.$error.required && accountInfo.hearabout.$touched">This field required</span>
                                                </div>

                                            </div>
                                        </div>



                                        <!--<div class="form-group frm-cont text-center">-->
                                        <!--<a ng-click="selectMenu('DOCUMENT')" class="btn btn-success btn-outline-rounded btn-info"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></a>-->
                                        <!--</div>-->

                                        <div class="form-group text-center">
                                            <a ng-click="selectMenu('EMPLOYEE')" class="btn btn-success btn-outline-rounded btn-info"> Back <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-left"></span></a>
                                            <button ng-click="selectMenu('DOCUMENT'); saveAccountInfo()" type="button"
                                                    ng-disabled="accountInfo.accounttype.$invalid || accountInfo.purposeaccount.$invalid || accountInfo.moneyfrom.$invalid || accountInfo.hearabout.$invalid "
                                                    class="btn btn-success btn-outline-rounded btn-info"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Document Info start -->
                    <div ng-show="selectedMenu === 'DOCUMENT'">
                        <form name="documentData">
                            <div class="tab-pane fade in active">
                                <h4 class="head text-center">Documentation</h4>
                                <br/>
                                <div class='row'>
                                    <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>

                                        <div class="form-group frm-cont">
                                            <label class="control-label" >Utility Bill</label>
                                            <!--<input class="form-control input-md"  name="utilitybill" type="file" placeholder="utilbill" ng-model="documentFiles.utility">-->

                                            <input class="form-control input-md" type="file"
                                            onchange="angular.element(this).scope().setFiles(this)"
                                            name="utilitybill" ng-model="utilityBill.name" title="Choose a file to upload" required>



                                            <span class="required-field animated fadeInDown" ng-show="documentData.utilitybill.$error.required && documentData.utilitybill.$touched">Utility bill is required</span>
                                        </div>

                                        <div class="form-group frm-cont">
                                            <label class="control-label" >Social security bill</label>

                                            <input class="form-control input-md" type="file"
                                                   onchange="angular.element(this).scope().setFile(this)"
                                                   name="securitybill" ng-model="securityBill.name"  title="Choose a file to upload" required>



                                            <span class="required-field animated fadeInDown" ng-show="documentData.securitybill.$error.required && documentData.securitybill.$touched">Utility bill is required</span>
                                        </div>

                                        <div class="form-group frm-cont text-center">
                                            <a ng-click="selectMenu('ACCOUNT')" class="btn btn-success btn-outline-rounded btn-info"> Back <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-left"></span></a>
                                            <button ng-click="saveDocument(); getAllDatas()" type="button"
                                                    ng-disabled="documentData.utilitybill.$invalid || documentData.securitybill.$invalid "
                                                    class="btn btn-success btn-outline-rounded btn-info"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>
                <!-- End Content Area -->
            </div>
        </div>

        <!-- Registered Form-->
        <div ng-show="showRegisteredData">
           <div class="board">
               <div class="tab-pane fade in active">
                   <h4 class="head header-completion text-center"> Hello {{personal.firstname}} </h4>

                   <p class="verify-txt text-center">Please verify your Details</p>
                   <div class='container'>
                       <div class='col-xs-offset-0 col-xs-12 col-sm-offset-2 col-sm-8'>
                           <form name="submitAllData">


                               <!-- Personal Details -->
                               <div class="panel panel-default">
                                   <div class="panel-heading">Personal Details</div>
                                   <div class="panel-body">
                                       <div class="col-sm-12">
                                           <div class="form-group final-submit-data">
                                               <label class="control-label col-sm-5" >Name:</label>
                                               <div class="col-sm-7">
                                                   <label class="control-label col-sm-10" >{{personal.title}} {{personal.firstname}} {{personal.middlename}} {{personal.lastname}}</label>
                                               </div>
                                           </div>
                                       </div>

                                       <div class="col-sm-12">
                                           <div class="form-group final-submit-data">
                                               <label class="control-label col-sm-5" >Home Phone:</label>
                                               <div class="col-sm-7">
                                                   <label class="control-label col-sm-10" > {{personal.homephone}}</label>
                                               </div>
                                           </div>
                                       </div>

                                       <div class="col-sm-12">
                                           <div class="form-group final-submit-data ">
                                               <label class="control-label col-sm-5" >Mobile Number</label>
                                               <div class="col-sm-7">
                                                   <label class="control-label col-sm-10" > {{personal.mobile}}</label>
                                               </div>
                                           </div>
                                       </div>

                                       <div class="col-sm-12">
                                           <div class="form-group final-submit-data">
                                               <label class="control-label col-sm-5" >Email</label>
                                               <div class="col-sm-7">
                                                   <label class="control-label col-sm-10" > {{personal.email}}</label>
                                               </div>
                                           </div>
                                       </div>

                                       <div class="col-sm-12">
                                           <div class="form-group final-submit-data">
                                               <label class="control-label col-sm-5" >Address</label>
                                               <div class="col-sm-7">
                                                   <label class="control-label col-sm-10" > {{personal.address}}</label>
                                               </div>
                                           </div>
                                       </div>

                                       <div class="col-sm-12">
                                           <div class="form-group final-submit-data">
                                               <label class="control-label col-sm-5" >Security Number</label>
                                               <div class="col-sm-7">
                                                   <label class="control-label col-sm-10" > {{personal.securitynum}}</label>
                                               </div>
                                           </div>
                                       </div>


                                   </div>
                               </div>

                               <!-- Employer Details-->
                               <div class="panel panel-default">
                                   <div class="panel-heading">Employer Details</div>
                                   <div class="panel-body">

                                       <div class="col-sm-12">
                                           <div class="form-group final-submit-data">
                                               <label class="control-label col-sm-5" >Employer Name:</label>
                                               <div class="col-sm-7">
                                                   <label class="control-label col-sm-10" >{{employement.empName}}</label>
                                               </div>
                                           </div>
                                       </div>

                                       <div class="col-sm-12">
                                           <div class="form-group final-submit-data">
                                               <label class="control-label col-sm-5" >Employer Address:</label>
                                               <div class="col-sm-7">
                                                   <label class="control-label col-sm-10" > {{employement.empAddress}}</label>
                                               </div>
                                           </div>
                                       </div>

                                       <div class="col-sm-12">
                                           <div class="form-group final-submit-data">
                                               <label class="control-label col-sm-5" >Work Phone:</label>
                                               <div class="col-sm-7">
                                                   <label class="control-label col-sm-10" > {{employement.empMobile}}</label>
                                               </div>
                                           </div>
                                       </div>

                                       <div class="col-sm-12">
                                           <div class="form-group final-submit-data">
                                               <label class="control-label col-sm-5" >Job Position</label>
                                               <div class="col-sm-7">
                                                   <label class="control-label col-sm-10" > {{employement.empJob}}</label>
                                               </div>
                                           </div>
                                       </div>

                                   </div>
                               </div>

                               <!-- Account Details -->
                               <div class="panel panel-default">
                                   <div class="panel-heading">Bank Account Information</div>
                                   <div class="panel-body">
                                       <div class="col-sm-12">
                                           <div class="form-group final-submit-data">
                                               <label class="control-label col-sm-5" >Account Type:</label>
                                               <div class="col-sm-7">
                                                   <label class="control-label col-sm-10" > {{accountInfo.accountType}} </label>
                                               </div>
                                           </div>
                                       </div>

                                       <div class="col-sm-12">
                                           <div class="form-group final-submit-data">
                                               <label class="control-label col-sm-5" >Purpose:</label>
                                               <div class="col-sm-7">
                                                   <label class="control-label col-sm-10" > {{accountInfo.purpose}}</label>
                                               </div>
                                           </div>
                                       </div>

                                       <div class="col-sm-12">
                                           <div class="form-group final-submit-data">
                                               <label class="control-label col-sm-5" >Where did the money come from</label>
                                               <div class="col-sm-7">
                                                   <label class="control-label col-sm-10" > {{accountInfo.moneyCome}}</label>
                                               </div>
                                           </div>
                                       </div>

                                       <div class="col-sm-12">
                                           <div class="form-group final-submit-data">
                                               <label class="control-label col-sm-5" >How Did you hear About</label>
                                               <div class="col-sm-7">
                                                   <label class="control-label col-sm-10" > {{accountInfo.hearAbout}}</label>
                                               </div>
                                           </div>
                                       </div>

                                   </div>
                               </div>

                               <!-- Document Details -->
                               <div class="panel panel-default">
                                   <div class="panel-heading">Documentation details</div>
                                   <div class="panel-body">

                                       <div class="col-sm-12">
                                           <div class="form-group final-submit-data">
                                               <label class="control-label col-sm-5" >Utility Bill:</label>
                                               <div class="col-sm-7">
                                                   <label class="control-label col-sm-10" >{{utilityBill.name}}</label>
                                               </div>
                                           </div>
                                       </div>

                                       <div class="col-sm-12">
                                           <div class="form-group final-submit-data">
                                               <label class="control-label col-sm-5" >Socila Security Number:</label>
                                               <div class="col-sm-7">
                                                   <label class="control-label col-sm-10" > {{securityBill.name}}</label>
                                               </div>
                                           </div>
                                       </div>

                                   </div>
                               </div>

                               <div class="col-sm-12">
                                   <div class="form-group final-submit-data terms-condition-cont">
                                       <input class="form-control input-md terms-condition" name="termscondition" ng-model="termscondition" type="checkbox">
                                       <label>I agree to the <a ui-sref="#">terms and conditions</a></label>
                                       <!--<span class="required-field animated fadeInDown" ng-show="documentData.termscondition.$error.required && documentData.termscondition.$touched">Terms and condition is required</span>-->
                                   </div>
                               </div>



                               <div class="form-group text-center">
                                   <a ng-click="goBackEditUser()" class="btn btn-success btn-outline-rounded btn-info"> Back <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-left"></span></a>
                                   <button ng-click="submitAccountInfo()"  type="button"
                                           ng-disabled="!termscondition "
                                           class="btn btn-success btn-outline-rounded btn-info"> Submit <span style="margin-left:10px;" class="fa fa-check fa-lg"></span>
                                   </button>
                               </div>
                           </form>
                       </div>
                    </div>
                </div>
           </div>
        </div>

        <div ng-show="showAccepted">
            <div class="board customer-entry">
                <div class="tab-pane fade successfailure in active text-center">
                    <span class="approved-application">Approved <i class="fa fa-star fa-lg" aria-hidden="true"></i></span>
                    <h4 class="head header-completion text-center"> Hello {{personal.firstname}} </h4>

                    <p class="verify-txt ">Your Application has been succesfully submitted</p>
                    <p> Your Account Number is: {{accountnNumber}} </p>
                    <p> Have a good day! :)</p>

                    <a ng-click="backToHome()" class="btn btn-success btn-outline-rounded btn-info"> Home
                        <span style="margin-left:10px;" class="fa fa-home fa-lg"></span>
                    </a>
                 </div>
            </div>
        </div>

        <!-- Rejected message -->
        <div ng-show="showRejected">
            <div class="board customer-entry">
                <div class="tab-pane fade  successfailure in active text-center">
                    <span class="rejected-application"> Rejected :(  <i class="fa fa-star fa-lg" aria-hidden="true"></i></span>
                    <h4 class="head header-completion text-center"> Hello {{personal.firstname}} </h4>

                    <p class="verify-txt ">Your Application has been Rejected <br> Please Contact Local Branch</p>
                    <p> Your Application Number is: {{applicationNumber}} </p>
                    <p> Contact: <b>{{setLocalBranchNumber.value}}</b></p>

                    <a ng-click="backToHome()" class="btn btn-success btn-outline-rounded btn-info"> Home
                        <span style="margin-left:10px;" class="fa fa-home fa-lg"></span>
                    </a>
                </div>
            </div>
        </div>

        <!-- Customer Entry 1st page -->
        <div ng-show="customerEntry">
            <div class="board customer-entry">
                <div class="tab-pane customer-entry-inside fade in active">
                   <!--<h3 class="text-center"> Welcome to the Bank of Test</h3>-->
                    <div class='container'>
                            <div class="col-sm-12">
                                <div class="col-xs-12">
                                    <button ng-click="createAccount()" type="button"
                                            class="btn btn-success btn-outline-rounded btn-info"> Create New Account
                                        <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span>
                                    </button>
                                </div>
                                <div class="col-xs-12">
                                    <div class="search-form search-account-form">
                                        <form>
                                            <div class="input-group col-sm-3 col-xs-2 col-lg-2">
                                                <input type="number" ng-model="searchAccount" placeholder="Login by Account number" name="search" class="form-control search-account">
                                                <div class="input-group-btn">
                                                    <button
                                                            ng-click="searchAccountNumber(searchAccount)"
                                                            class="btn btn-lg btn-primary btn-search" type="button">
                                                        Login
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                        <span class="required-field animated fadeInDown" ng-if="loginFailed"> Sorry account number does not exist</span>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-----Search data by account number--->
        <div ng-show="showSearchData">
            <div class="board search-data-container">

                <div class="tab-pane bg-grey fade in active">
                    <h4 class="head header-completion text-center"> Hello {{getUser.personalInfo.firstname}} </h4>

                    <p class="verify-txt text-center"> Have a good day! :) </p>
                    <div class='container'>
                        <div class='col-xs-offset-0 col-xs-12 col-sm-offset-2 col-sm-8'>
                            <form name="submitAllData">


                                <!-- Personal Details -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">Personal Details</div>
                                    <div class="panel-body">
                                        <div class="col-sm-12">
                                            <div class="form-group final-submit-data">
                                                <label class="control-label col-sm-5" >Name:</label>
                                                <div class="col-sm-7">
                                                    <label class="control-label col-sm-10" >{{getUser.personalInfo.title}} {{getUser.personalInfo.firstname}} {{getUser.personalInfo.middlename}} {{getUser.personalInfo.lastname}}</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="form-group final-submit-data">
                                                <label class="control-label col-sm-5" >Home Phone:</label>
                                                <div class="col-sm-7">
                                                    <label class="control-label col-sm-10" > {{getUser.personalInfo.homephone}}</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="form-group final-submit-data ">
                                                <label class="control-label col-sm-5" >Mobile Number</label>
                                                <div class="col-sm-7">
                                                    <label class="control-label col-sm-10" > {{getUser.personalInfo.mobile}}</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="form-group final-submit-data">
                                                <label class="control-label col-sm-5" >Email</label>
                                                <div class="col-sm-7">
                                                    <label class="control-label col-sm-10" > {{getUser.personalInfo.email}}</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="form-group final-submit-data">
                                                <label class="control-label col-sm-5" >Address</label>
                                                <div class="col-sm-7">
                                                    <label class="control-label col-sm-10" > {{getUser.personalInfo.address}}</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="form-group final-submit-data">
                                                <label class="control-label col-sm-5" >Security Number</label>
                                                <div class="col-sm-7">
                                                    <label class="control-label col-sm-10" > {{getUser.personalInfo.securitynum}}</label>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>

                                <!-- Employer Details-->
                                <div class="panel panel-default">
                                    <div class="panel-heading">Employer Details</div>
                                    <div class="panel-body">

                                        <div class="col-sm-12">
                                            <div class="form-group final-submit-data">
                                                <label class="control-label col-sm-5" >Employer Name:</label>
                                                <div class="col-sm-7">
                                                    <label class="control-label col-sm-10" >{{getUser.employerInfo.empName}}</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="form-group final-submit-data">
                                                <label class="control-label col-sm-5" >Employer Address:</label>
                                                <div class="col-sm-7">
                                                    <label class="control-label col-sm-10" > {{getUser.employerInfo.empAddress}}</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="form-group final-submit-data">
                                                <label class="control-label col-sm-5" >Work Phone:</label>
                                                <div class="col-sm-7">
                                                    <label class="control-label col-sm-10" > {{getUser.employerInfo.empMobile}}</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="form-group final-submit-data">
                                                <label class="control-label col-sm-5" >Job Position</label>
                                                <div class="col-sm-7">
                                                    <label class="control-label col-sm-10" > {{getUser.employerInfo.empJob}}</label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- Account Details -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">Bank Account Information</div>
                                    <div class="panel-body">
                                        <div class="col-sm-12">
                                            <div class="form-group final-submit-data">
                                                <label class="control-label col-sm-5" >Account Type:</label>
                                                <div class="col-sm-7">
                                                    <label class="control-label col-sm-10" > {{getUser.accountInfo.accountType}} </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="form-group final-submit-data">
                                                <label class="control-label col-sm-5" >Purpose:</label>
                                                <div class="col-sm-7">
                                                    <label class="control-label col-sm-10" > {{getUser.accountInfo.purpose}}</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="form-group final-submit-data">
                                                <label class="control-label col-sm-5" >Where did the money come from</label>
                                                <div class="col-sm-7">
                                                    <label class="control-label col-sm-10" > {{getUser.accountInfo.moneyCome}}</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="form-group final-submit-data">
                                                <label class="control-label col-sm-5" >How Did you hear About</label>
                                                <div class="col-sm-7">
                                                    <label class="control-label col-sm-10" > {{getUser.accountInfo.hearAbout}}</label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- Document Details -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">Documentation details</div>
                                    <div class="panel-body">

                                        <div class="col-sm-12">
                                            <div class="form-group final-submit-data">
                                                <label class="control-label col-sm-5" >Utility Bill:</label>
                                                <div class="col-sm-7">
                                                    <label class="control-label col-sm-10" >{{getUser.documentInfo.socialNumber}}</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="form-group final-submit-data">
                                                <label class="control-label col-sm-5" >Socila Security Number:</label>
                                                <div class="col-sm-7">
                                                    <label class="control-label col-sm-10" > {{getUser.documentInfo.utility}}</label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group text-center">
                                    <a ng-click="backToSearch()" class="btn btn-success btn-outline-rounded btn-info"> Back <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-left"></span></a>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
